html, body{
  height:100%;
  font-family:Arial;
  margin:0 auto;
  
}
a{
  text-decoration:none;
  color:blue;
}
.container{
  display:flex;
}
.column{
  flex-direction:column;
}
nav a{
  flex:1;
  text-align:center;
  padding:10px;
}
nav a:hover{
  background-color:black;
  color:white;
  transition:1s;
}
#banner{
  align-items: center;  
  background-color:yellow;
  color:blue;
  padding:20px;
}
body{
  padding:50px;
  background-image: url("images/beijing.webp");
  background-position: center;
  background-size: cover;
}
#links{
  padding:50px;
}
#links *{
  border: 1px solid black;
  margin:5px;
}

#footer{
  background-image:beijing.jpg;
  color:red;
  padding:100px;
  justify-content: center;
  align-items:center;
}
#edit{
	background-color: yellow;
}

#word{
	background-color: yellow;
}

#help{
	background-color: yellow;
}